*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.homepage{
  height: 100vh;
  max-width: 100vw;
}

.leftpanel{
  height:100vh; 
  width: 18%;
 background-color:  #33334d;
 overflow: hidden;
 position: absolute;
 z-index: 2;
}

.title{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  left:7vw;
  top: 3.5vw;
  font-size: 2.5vw;
}

.logo{
  position: absolute;
  left: 2vw;
  top: 5.5vh;
  height: 4vw;
  width: 4vw;
}

.allboards{
    position: absolute;
    left: 40px;
    top: 140px;
    opacity: 0.8;
    font-size: 20px;
    color: #a07fcf;
}

.tasklogo{
  height: 20px;
  width: 20px;
  padding: 3px;
}

.tasklist{
  list-style: none;
  text-align: left;
  position: relative;
  top: 200px;
  padding: 10px;
}

.tasklist li{
  color: white;
  padding: 10px;
  margin-left: 10px;
  font-size: 20px;
  display: flex;
  cursor: pointer;
}

.tasklist li:hover{
  background-color: #a07fcf;
  border-radius: 5px;
}

.top_panel{
  background-color:  #33334d;
  height: 17%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 1;
  overflow: hidden;
}

.task_title{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  left: 24.8vw;
  top: 8vh;
  font-size: 2.3vw;
}

.add {
  background: #6824de;
  background-image: -webkit-linear-gradient(top, #6824de, #a07fcf);
  background-image: -moz-linear-gradient(top, #6824de, #a07fcf);
  background-image: -ms-linear-gradient(top, #6824de, #a07fcf);
  background-image: -o-linear-gradient(top, #6824de, #a07fcf);
  background-image: linear-gradient(to bottom, #6824de, #a07fcf);
  border-style: none;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: absolute;
  right: 10vw;
  top: 7vh;
  cursor: pointer;
}

.add:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
/*ADD NEW BOARD

.add_new_board{
  background: #6824de;
  background-image: -webkit-linear-gradient(top, #6824de, #a07fcf);
  background-image: -moz-linear-gradient(top, #6824de, #a07fcf);
  background-image: -ms-linear-gradient(top, #6824de, #a07fcf);
  background-image: -o-linear-gradient(top, #6824de, #a07fcf);
  background-image: linear-gradient(to bottom, #6824de, #a07fcf);
  border-style: none;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: absolute;
  right: 2vw;
  top: 80vh;
  cursor: pointer;
}
.add_new_board:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}*/
#kebab{
  cursor: pointer;
  position: absolute;
  top: 7.5vh;
  right: 6vw;
}

#kebab div{
  width: 35px;
  height: 5px;
  background-color:rgb(135, 100, 217);
  margin: 6px 0;
}

#myDropdown{
  display: none;
  flex-direction: column;
  background-color: rgb(135, 100, 217);
  color: white;
  height: 37px;
  width: 80px;
  position: absolute;
  top:80px;
  right: 120px;
 
}

#myDropdown span{
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 1px;
  width: 10px;
}

#myDropdown span:hover{
  background-color: #3498db;
}

#myDropdown a{
  margin-left: 0;
  text-decoration: none;
  color: white;
  text-align: left;
  width: 45px;
  cursor: pointer;
}

#myDropdown a:hover{
  background-color: #3498db;
}

#myDropdown::after{
  content: '';
  display: none;
}

.horizontal{
  background-color: white;
  height: 3px;
  width: 100vw;
  position: absolute;
  z-index: 2;
  top: 17%;
}

.vertical{
  background-color: white;
  height: 100vh;
  width: 3px;
  position: absolute;
  left: 18%;
  top: 0px;
  z-index: 2;
}

.box{
  
  background-color:  	#22262a;
  height: 100vh;
  width: 82vw;
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 18vw;
  overflow-y: auto;
  overflow-x: hidden;
  
}

.kanban-board{
 
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: stretch;
  font-family: sans-serif;
  position: relative;
  top: 31vh;
  margin-left: 1vw;
  margin-right: 1vw;
  
 
}

.kanban-block,
.create-new-task-block
{
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 0.6rem;
  width: 50.5%;
  min-width: 23vw;
  /*height: 200px;*/
  border-radius: 0.3rem;
}

.kanban-block strong{
  text-align: center;
  font-style: bold;
  /*padding: 20px;*/
}

#todo {
  background: #6824de;
  background-image: -webkit-linear-gradient(top, #6824de, #a07fcf);
  background-image: -moz-linear-gradient(top, #6824de, #a07fcf);
  background-image: -ms-linear-gradient(top, #6824de, #a07fcf);
  background-image: -o-linear-gradient(top, #6824de, #a07fcf);
  background-image: linear-gradient(to bottom, #6824de, #a07fcf);
  /*overflow-y: auto;*/
}

#inprogress {
  background: #6824de;
  background-image: -webkit-linear-gradient(top, #6824de, #a07fcf);
  background-image: -moz-linear-gradient(top, #6824de, #a07fcf);
  background-image: -ms-linear-gradient(top, #6824de, #a07fcf);
  background-image: -o-linear-gradient(top, #6824de, #a07fcf);
  background-image: linear-gradient(to bottom, #6824de, #a07fcf);
  /*overflow-y: auto;*/
  /* display: none; */
  overflow-y: auto;
}

#done {
  background: #6824de;
  background-image: -webkit-linear-gradient(top, #6824de, #a07fcf);
  background-image: -moz-linear-gradient(top, #6824de, #a07fcf);
  background-image: -ms-linear-gradient(top, #6824de, #a07fcf);
  background-image: -o-linear-gradient(top, #6824de, #a07fcf);
  background-image: linear-gradient(to bottom, #6824de, #a07fcf);
  /*overflow-y: auto;*/
  /* display: none; */
  overflow-y: auto;
}

.task {
  background-color: white;
  margin: 0.2rem 0rem 0.3rem 0rem;
  border: 0.1rem solid black;
  border-radius: 10px;
  padding: 0.5rem 0.2rem 0.5rem 2rem;
}
#task-description{
  width:45vw;
}

#create-new-task-block
{
  display: none;
  align-items: flex-start;
  flex-direction: column; 
  justify-content: space-between;
  background-color: #2e2144;
  position: absolute;
  top: 90%;
  left: 48%;
  transform: translate(-50%,-50%);
  height: 72vh;
  width: 48vw;
  border: 1px solid white;
  
}
/*ADD NEW BOARD
#create-new-board
{
  display: none;
  align-items: flex-start;
  flex-direction: column; 
  justify-content: space-between;
  background-color: #2e2144;
  position: absolute;
  bottom: 7%;
  left: 48%;
  transform: translate(-50%,-50%);
  height: 24vh;
  width: 48vw;
  border: 1px solid white;
  
}*/

/*#overlay{
    height:auto;
    width: 50%;
    position: relative;
    bottom: 25.6vh;
    right: 37vw;
    background: rgba(0,0,0,0.6);
    display: none;
  
}*/
.overlay{
  height:auto;
  width: 50%;
  position: absolute;
  top: 22.5vh;
  left:20vw;
  /*left: auto;*/
  background: rgba(0,0,0,0.6);
  display: none;

}



.form-row{
  align-items: flex-start;
}


#create-new-task-block strong, label{
  color: white;
  padding: 20px;
}
/* ADD NEW BOARD
#create-new-board strong, label{
  color: white;
  padding: 20px;
}*/

.form-row-buttons{
  display: flex;
  width: 35vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  
}

.form-row-buttons button{
  border: none;
  color: white;
  background-color: #a07fcf;
  width: 5vw;
  font-size: 1.2vw;
}


.hold{
  border: solid palevioletred 2px;
}

.taskhide{
  display: none;
}


#changename{
  display: none;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 200px;
  background-color: #4f3b6c;
  position: absolute;
  top: 90%;
  left: 48%;
  transform: translate(-50%,-50%);
  border: 1px solid rgb(238, 230, 230);
}

#changename button{
  background: #8c34d9;
  background-image: -webkit-linear-gradient(top, #8c34d9, #a17da8);
  background-image: -moz-linear-gradient(top, #8c34d9, #a17da8);
  background-image: -ms-linear-gradient(top, #8c34d9, #a17da8);
  background-image: -o-linear-gradient(top, #8c34d9, #a17da8);
  background-image: linear-gradient(to bottom, #8c34d9, #a17da8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border: none;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  text-decoration: none;
}

#changename button:hover{
  cursor: pointer;
  background: #402985;
  text-decoration: none;
  
}

#changename span{
  color: white;
  position: absolute;
  right: 10px;;
  cursor: pointer;
}


 

