*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.homepage{
  height: 100vh;
  max-width: 100vw;
}

/*------------------------------ */ 

/* LEFT PANEL */

.leftpanel{
  height:100vh; 
  width: 18%;
 background-color:  #33334d;
 overflow: hidden;
 position: absolute;
 z-index: 2;
}

/* TITLE NAME */

.title{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  left:7vw;
  top: 7.5vh;
  font-size: min(2.5vw,5vh);
}

/* LOGO */

.logo{
  position: absolute;
  left: 2vw;
  top: 6vh;
  height: min(5vw,9vh);
  width: min(5vw,9vh);

}

.allboards{
    position: absolute;
    left: 4vw;
    top: 36vh;
    opacity: 0.8;
    font-size:min(1.8vw,5.5vh);
    color: #a07fcf;
}

.tasklogo{
  height:min(1.7vw,5.2vh);
  width:min(1.7vw,5.2vh);
 
  padding:0.4vw;
}

.tasklist{
  list-style: none;
  text-align: left;
  position: relative;
  top: 40vh;
  padding:1vw;
  overflow-y:hidden;
}

.tasklist li{
  color: white;
  padding:1.3vh;
  margin-left:1vw;
  font-size: min(1.5vw,5.2vh);
  display: flex;
  cursor: pointer;
}

.tasklist li:hover{
  background-color: #a07fcf;
  border-radius: 5px;
  left:2vw;
}
.tasklist li:active{
  background-color: #c79319;
  border-radius: 5px;
  left:2vw;
}
.tasklist li:focus{
  background-color: #3b1f47;
  border-radius: 5px;
  left:2vw;
}

/*ADD NEW BOARD*/

.add_new_board{
  background: #6824de;
  background-image: -webkit-linear-gradient(top, #6824de, #a07fcf);
  background-image: -moz-linear-gradient(top, #6824de, #a07fcf);
  background-image: -ms-linear-gradient(top, #6824de, #a07fcf);
  background-image: -o-linear-gradient(top, #6824de, #a07fcf);
  background-image: linear-gradient(to bottom, #6824de, #a07fcf);
  border-style: none;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.3vw;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: absolute;
  right: 2vw;
  top: 25vh;
  cursor: pointer;
}
.add_new_board:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* DARK MODE TOGGLE */

#darkmode{
  background: #8c34d9;
  background-image: -webkit-linear-gradient(top, #8c34d9, #a17da8);
  background-image: -moz-linear-gradient(top, #8c34d9, #a17da8);
  background-image: -ms-linear-gradient(top, #8c34d9, #a17da8);
  background-image: -o-linear-gradient(top, #8c34d9, #a17da8);
  background-image: linear-gradient(to bottom, #8c34d9, #a17da8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border: none;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size:1vw;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  left: 60px;
  cursor: pointer;
}

.toppaneldarkmode{
  background-color: black;
}

@media (min-height: 290px) and (max-height: 350px) {
  #darkmode{
    position: absolute;
   bottom: 5vh;
   right: 50vh;
  }
}
@media (min-height: 230px) and (max-height: 290px) {
  #darkmode{
    position: absolute;
    bottom: 2vh;
  }
}
@media (min-height: 0px) and (max-height: 230px) {
  #darkmode{
    position: absolute;
    bottom: 1vh;
  }
}


/*------------------------------ */ 

/* TOP PANEL */

.top_panel{
  background-color:  #33334d;
  height: 17%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 1;
  overflow: hidden;
}

.task_title{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  left: 24.8vw;
  top: 8vh;
  font-size: min(2.3vw,5vh);
}

.add {
  background: #6824de;
  background-image: -webkit-linear-gradient(top, #6824de, #a07fcf);
  background-image: -moz-linear-gradient(top, #6824de, #a07fcf);
  background-image: -ms-linear-gradient(top, #6824de, #a07fcf);
  background-image: -o-linear-gradient(top, #6824de, #a07fcf);
  background-image: linear-gradient(to bottom, #6824de, #a07fcf);
  border-style: none;
  border-radius: 5vw;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.3vw;
  padding: 1.5vh 1vw 1.5vh 1vw;
  text-decoration: none;
  position: absolute;
  right: 10vw;
  top: 7vh;
  margin-bottom: 0;
  cursor: pointer;
  min-height: 2vh;
}

.add:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#kebab{
  cursor: pointer;
  position: absolute;
  top: 7.2vh;
  right: 6vw;
}

#kebab div{
  width: 2.8vw;
  height: 0.4vw;
  background-color:rgb(135, 100, 217);
  margin: 0.9vh 0;
}

#myDropdown{
  display: none;
  flex-direction: column;
  background-color: rgb(135, 100, 217);
  color: white;
  height: min(1.8vw,4vh);
  width: 7vw;
  position: absolute;
  top:0vh;
  right: 6vw;
  font-size:min(1.4vw,4vh);
 
}

#myDropdown span{
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0.5vw;
  
  font-size:min(1.4vw,4vh);
}

#myDropdown span:hover{
  background-color: #3498db;
}

#myDropdown a{
  margin-left: 0;
  text-decoration: none;
  color: white;
  text-align: left;
  
  cursor: pointer;
}

#myDropdown a:hover{
  background-color: #3498db;
  width:2.5vw;
}

#myDropdown::after{
  content: '';
  display: none;
}

.horizontal{
  background-color: white;
  height: 3px;
  width: 100vw;
  position: absolute;
  z-index: 2;
  top: 17%;
}

.vertical{
  background-color: white;
  height: 100vh;
  width: 3px;
  position: absolute;
  left: 18%;
  top: 0px;
  z-index: 2;
}

/*------------------------------ */

/* MAIN BOX */

.box{
  
  background-color:  	#22262a;
  height: 100vh;
  width: 82vw;
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 18vw;
  overflow-y: auto;
  overflow-x: hidden;
  
}

.kanban-board{
 
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: stretch;
  font-family: sans-serif;
  position: relative;
  top: 31vh;
  margin-left: 1vw;
  margin-right: 1vw;
  
 
}


.kanban-block,
.create-new-task-block
{
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 0.6rem;
  width: 50.5%;
  min-width: 23vw;
  border-radius: 0.3rem;
}

.kanban-block strong{
  text-align: center;
  font-style: bold;
  font-size: min(1.2vw,5vh);
}
@media (max-width: 800px) {
  .kanban-board{
    flex-direction: column;
    row-gap: 8vh;
    align-items: center;
  }
 
}
@media (max-width: 800px){
  .kanban-block strong{
    font-size: min(1.6vw,5vh);
  }
}

#todo {
  background: #6824de;
  background-image: -webkit-linear-gradient(top, #6824de, #a07fcf);
  background-image: -moz-linear-gradient(top, #6824de, #a07fcf);
  background-image: -ms-linear-gradient(top, #6824de, #a07fcf);
  background-image: -o-linear-gradient(top, #6824de, #a07fcf);
  background-image: linear-gradient(to bottom, #6824de, #a07fcf);
}

#inprogress {
  background: #6824de;
  background-image: -webkit-linear-gradient(top, #6824de, #a07fcf);
  background-image: -moz-linear-gradient(top, #6824de, #a07fcf);
  background-image: -ms-linear-gradient(top, #6824de, #a07fcf);
  background-image: -o-linear-gradient(top, #6824de, #a07fcf);
  background-image: linear-gradient(to bottom, #6824de, #a07fcf);
  overflow-y: auto;
}

#done {
  background: #6824de;
  background-image: -webkit-linear-gradient(top, #6824de, #a07fcf);
  background-image: -moz-linear-gradient(top, #6824de, #a07fcf);
  background-image: -ms-linear-gradient(top, #6824de, #a07fcf);
  background-image: -o-linear-gradient(top, #6824de, #a07fcf);
  background-image: linear-gradient(to bottom, #6824de, #a07fcf);
  overflow-y: auto;
}

.task {
  background-color: white;
  margin: 0.8vh 0vw 0.3vh 0vw;
  border: 0.1rem solid black;
  border-radius: 10px;
  padding: 0.5vh 0.2vw 0.5vh 2vw;
  min-height:0.5vh;
}
.task span{
  font-size: min(1.2vw,5vh);
}
@media (max-width: 800px) {
  .task span{
    font-size: min(1.8vw,5.2vh);
  }
}
#task-description{
  width:45vw;
}

#create-new-task-block
{
  display: none;
  align-items: flex-start;
  flex-direction: column; 
  justify-content: space-between;
  background-color: #2e2144;
  position: absolute;
  top:0vh;
  left: 48%;
  transform: translate(-50%,-50%);
  min-height: 72vh;
  width: 48vw;
  border: 1px solid white;
  
  
}
@media (min-height: 290px) and (max-height: 350px) {
  #create-new-task-block{
    position: absolute;
  top:5.6vh;
  }
}
@media (min-height: 230px) and (max-height: 290px) {
  #create-new-task-block{
    position: absolute;
  top:14.1vh;
  }
}
@media (min-height: 0px) and (max-height: 230px) {
  #create-new-task-block{
    position: absolute;
  top:27.2vh;
  }
}


/*NEW BOARD*/
#create-new-board
{
  display: none;
  align-items: flex-start;
  flex-direction: column; 
  justify-content: space-between;
  background-color: #2e2144;
  position: absolute;
  bottom: 7%;
  left: 48%;
  transform: translate(-50%,-50%);
  height: 24vh;
  width: 48vw;
  border: 1px solid white;
  
}
#create-new-board strong, label{
  color: white;
  padding: 20px;
}

#overlay{
  height:auto;
  width: 50%;
  position: absolute;
  top: 22.5vh;
  left:20vw;
  /*left: auto;*/
  background: rgba(0,0,0,0.6);
  /* display: none; */

}
#overlay1{
  height:auto;
  width: 50%;
  position: absolute;
  top: 22.5vh;
  left:20vw;
  /*left: auto;*/
  background: rgba(0,0,0,0.6);
  /* display: none; */

}



.form-row{
  align-items: flex-start;
}


#create-new-task-block strong, label{
  color: white;
  padding: 20px;
  font-size: min(1.3vw,5.1vh);
}


.form-row-buttons{
  display: flex;
  width: 35vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  
}

.form-row-buttons button{
  border: none;
  color: white;
  background-color: #a07fcf;
  width: 5vw;
  font-size: 1.2vw;
}


.hold{
  border: solid palevioletred 2px;
}

.taskhide{
  display: none;
}


#changename{
  display: none;
  flex-direction: column;
  padding: 3vh;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width:15vw;
  background-color: #4f3b6c;
  position: absolute;
  top: 0vh;
  left: 38vw;
  transform: translate(-50%,-50%);
  border: 1px solid rgb(238, 230, 230);
}

#changename button{
  background: #8c34d9;
  background-image: -webkit-linear-gradient(top, #8c34d9, #a17da8);
  background-image: -moz-linear-gradient(top, #8c34d9, #a17da8);
  background-image: -ms-linear-gradient(top, #8c34d9, #a17da8);
  background-image: -o-linear-gradient(top, #8c34d9, #a17da8);
  background-image: linear-gradient(to bottom, #8c34d9, #a17da8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border: none;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size:1vw;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  text-decoration: none;
}

#changename button:hover{
  cursor: pointer;
  background: #402985;
  text-decoration: none;
  
}

#changename span{
  color: white;
  position: absolute;
  right: 0.4vw;
  cursor: pointer;
  font-size: 1.2vw;
}
#changename span:hover{
  background-color: #a07fcf;
}
#changetitle{
  width:14vw;
  min-height:3.5vh;
}
@media (min-height: 290px) and (max-height: 350px) {
  #changename{
    position: absolute;
  top:5.6vh;
  }
}
@media (min-height: 230px) and (max-height: 290px) {
  #changename{
    position: absolute;
  top:9.8vh;
  }
}
@media (min-height: 0px) and (max-height: 230px) {
  #changename{
    position: absolute;
  top:15.2vh;
  }
}

.closebutton2{
  height: 1.4vw;
  width: 1.4vw;
  float: right;
  cursor: pointer;
  
}


#overlay2{
  height:100vh;
  width: 100vw;
  position: absolute;
  background: rgba(0,0,0,0.6);
} 

/*--------------------------------------------*/