*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.homepage{
  height: 100vh;
  width: 100vw;
}

.leftpanel{
  height:100vh; 
  width: 18%;
 background-color:  #33334d;
 overflow: hidden;
 position: absolute;
 z-index: 2;
}

.title{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  left: 88px;
  top: 39px;
  font-size: 30px;
}

.logo{
  position: absolute;
  left: 24px;
  top: 29px;
  height: 50px;
  width: 50px;
}

.allboards{
    position: absolute;
    left: 40px;
    top: 140px;
    opacity: 0.8;
    font-size: 20px;
    color: #a07fcf;
}

.tasklogo{
  height: 20px;
  width: 20px;
  padding: 3px;
}

.tasklist{
  list-style: none;
  text-align: left;
  position: relative;
  top: 200px;
  padding: 10px;
}

.tasklist li{
  color: white;
  padding: 10px;
  margin-left: 10px;
  font-size: 20px;
  display: flex;
  cursor: pointer;
}

.tasklist li:hover{
  background-color: #a07fcf;
  border-radius: 5px;
}

.top_panel{
  background-color:  #33334d;
  height: 17%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 1;
  overflow: hidden;
}

.task_title{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  left: 315px;
  top: 39px;
  font-size: 30px;
}

.add {
  background: #6824de;
  background-image: -webkit-linear-gradient(top, #6824de, #a07fcf);
  background-image: -moz-linear-gradient(top, #6824de, #a07fcf);
  background-image: -ms-linear-gradient(top, #6824de, #a07fcf);
  background-image: -o-linear-gradient(top, #6824de, #a07fcf);
  background-image: linear-gradient(to bottom, #6824de, #a07fcf);
  border-style: none;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: absolute;
  right: 135px;
  top: 35px;
  cursor: pointer;
}

.add:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#kebab{
  cursor: pointer;
  position: absolute;
  top: 35px;
  right: 83px;
}

#kebab div{
  width: 35px;
  height: 5px;
  background-color:rgb(135, 100, 217);
  margin: 6px 0;
}

#myDropdown{
  display: none;
  flex-direction: column;
  background-color: rgb(135, 100, 217);
  color: white;
  height: 37px;
  width: 80px;
  position: absolute;
  top:80px;
  right: 120px;
 
}

#myDropdown span{
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 1px;
  width: 10px;
}

#myDropdown span:hover{
  background-color: #3498db;
}

#myDropdown a{
  margin-left: 0;
  text-decoration: none;
  color: white;
  text-align: left;
  width: 45px;
  cursor: pointer;
}

#myDropdown a:hover{
  background-color: #3498db;
}

#myDropdown::after{
  content: '';
  display: none;
}

.horizontal{
  background-color: white;
  height: 3px;
  width: 100vw;
  position: absolute;
  z-index: 2;
  top: 17%;
}

.vertical{
  background-color: white;
  height: 100vh;
  width: 3px;
  position: absolute;
  left: 18%;
  top: 0px;
  z-index: 2;
}

.box{
  
  background-color:  	#22262a;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  padding: 10px;
  overflow: hidden;
  
}

.kanban-board{
 
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  position: absolute;
  top: 180px;
  left: 400px;
}

.kanban-block,
.create-new-task-block {
  margin-right: 50px;
  padding: 0.6rem;
  width: 50.5%;
  min-width: 20rem;
  height: 200px;
  border-radius: 0.3rem;
}

.kanban-block strong{
  text-align: center;
  font-style: bold;
  padding: 20px;
}

#todo {
  background: #6824de;
  background-image: -webkit-linear-gradient(top, #6824de, #a07fcf);
  background-image: -moz-linear-gradient(top, #6824de, #a07fcf);
  background-image: -ms-linear-gradient(top, #6824de, #a07fcf);
  background-image: -o-linear-gradient(top, #6824de, #a07fcf);
  background-image: linear-gradient(to bottom, #6824de, #a07fcf);
  overflow-y: auto;
}

#inprogress {
  background: #6824de;
  background-image: -webkit-linear-gradient(top, #6824de, #a07fcf);
  background-image: -moz-linear-gradient(top, #6824de, #a07fcf);
  background-image: -ms-linear-gradient(top, #6824de, #a07fcf);
  background-image: -o-linear-gradient(top, #6824de, #a07fcf);
  background-image: linear-gradient(to bottom, #6824de, #a07fcf);
  /* display: none; */
  overflow-y: auto;
}

#done {
  background: #6824de;
  background-image: -webkit-linear-gradient(top, #6824de, #a07fcf);
  background-image: -moz-linear-gradient(top, #6824de, #a07fcf);
  background-image: -ms-linear-gradient(top, #6824de, #a07fcf);
  background-image: -o-linear-gradient(top, #6824de, #a07fcf);
  background-image: linear-gradient(to bottom, #6824de, #a07fcf);
  /* display: none; */
  overflow-y: auto;
}

.task {
  background-color: white;
  margin: 0.2rem 0rem 0.3rem 0rem;
  border: 0.1rem solid black;
  border-radius: 10px;
  padding: 0.5rem 0.2rem 0.5rem 2rem;
}


#create-new-task-block{
  display: none;
  align-items: flex-start;
  flex-direction: column; 
  justify-content: space-between;
  background-color: #2e2144;
  position: absolute;
  top: 90%;
  left: 40%;
  transform: translate(-50%,-50%);
  height: 400px;
  width: 600px;
  border: 1px solid white;
  
}

#overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: none;
  
}




.form-row{
  align-items: flex-start;
}


#create-new-task-block strong, label{
  color: white;
  padding: 20px;
}

.form-row-buttons{
  display: flex;
  width: 400px;
  margin-left: 100px;
  margin-right: 20px;
  justify-content: space-between;
}

.form-row-buttons button{
  border: none;
  color: white;
  background-color: #a07fcf;
  width: 80px;
}


.hold{
  border: solid palevioletred 2px;
}

.taskhide{
  display: none;
}


 